.slider-for {
    position: relative;
    width: 100%;
    width: 500px !important;
    margin: 0 auto;
}

.slider-for .slider__slide {
    height: 500px !important;
    width: 500px !important;
}

.slider-nav {
    height: 200px !important;
    width: auto !important;
    margin: 20px auto;
}

.slider-nav .slider__slide{
    height: 200px !important;
    width: auto !important;
}

.slider-for__delete {
    padding: 5px;
    box-sizing: content-box;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}