.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 0;
    background: #00000071;
    border-radius: 90px 90px 0 0;
}

.footer__menu, .footer__contact, .footer__social {
    display: flex;
    width: 33%;
}

.footer__menu {
    justify-content: flex-start;
}

.footer__contact {
    justify-content: center;
}

.footer__social {
    justify-content: flex-end;

}